/* --- HOW TO PLAY SECTION --- */
.how-to-play-text-frame,
.card-type-frame {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.youtube-video {
    box-shadow: 0px 0px 6px 6px rgba(207, 49, 32, 0.4);
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.video-text-right {
    line-height: 2rem;
}

.video-text-down {
    line-height: 2rem;
}

/* --- CARD TYPES --- */
.card-type-frame {
    line-height: 2rem;
}

.rules-row {
    margin-bottom: 4rem;
}

.spell-img {
    height: 12rem;
    padding-left: 2rem;
}

.rules-img {
    height: 20rem;
}

.land-img {
    border-radius: 4%;
}

/* --- MEDIA QUERIES --- */

/* --- Redmi 9 and iPhone 8 --- */
@media (max-width: 575.98px) {
    .youtube-video {
        width: auto;
        height: 200px;
        margin-left: 0.5rem;
    }

    .spell-img {
        padding: 0;
        margin-top: 1rem;
    }

    .rules-img {
        height: 15rem;
    }

    .spell-img,
    .rules-img {
        display: block;
        margin: 2rem auto;
    }

    .rules-row {
        margin-bottom: 2rem;
    }

    h3 {
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/* --- iPad mini (vertical) --- */
@media (max-width: 768px) and (min-width: 576px) {
    .youtube-video {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    .spell-img,
    .rules-img {
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding: 0;
    }

    .rules-row {
        margin-bottom: 2rem;
    }

    .rules-img {
        height: 20rem;
    }
}

/* --- iPad pro (vertical) --- */
@media (max-width: 1024px) and (min-width: 768.98px) {
    .spell-img {
        padding-left: 0;
    }
}

/* --- Laptop --- */
@media (max-width: 1440px) and (min-width: 1024.98px) {
}

@media (max-width: 1300px) {
    .how-to-play-text-frame,
    .card-type-frame {
        max-width: 80%;
    }
}
